<link rel="stylesheet" href="@components/layout/popup/popup.scss">
<div data-fls-popup="popup-info" aria-hidden="true" class="popup">
	<div data-fls-popup-wrapper class="popup__wrapper">
		<div data-fls-popup-body class="popup__body">
			<button data-fls-popup-close type="button" class="popup__close">
				<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M20 2L2 20M20 20L2 2" stroke="#CCCCCC" stroke-width="3" stroke-linecap="round" />
				</svg>
			</button>
			<div data-fls-popup-content class="popup__promo promo-popup">
				<h3 class="promo-popup__title">Акція «Гроші в пачці» 2</h3>
				<div class="promo-popup__text">
					<p>Бренд чаю Magic Moon відновлює популярну акцію для кінцевого споживача — «Гроші в пачці».
						У рамках акції кожна третя пачка чаю Magic Moon може містити грошову купюру номіналом 20 або 50 гривень. Акція має гарантовану механіку та відбувається за чітко визначеними правилами

					</p>
					<p>Смакуйте улюблений чай — і отримуйте більше разом із Magic Moon</p>
				</div>
			</div>
		</div>
	</div>
</div>