<link rel="stylesheet" href="@components/layout/popup/popup.scss">
<div data-fls-popup="popup-tea" aria-hidden="true" class="popup">
	<div data-fls-popup-wrapper class="popup__wrapper">
		<div data-fls-popup-body class="popup__body">
			<button data-fls-popup-close type="button" class="popup__close">
				<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M20 2L2 20M20 20L2 2" stroke="#CCCCCC" stroke-width="3" stroke-linecap="round"/>
				</svg>
			</button>
			<div data-fls-popup-content class="popup__content">
				
				<!-- <div class="popup__picture">
					<img class="ibg-cn" src="@img/packs/herbal-1.png" width="289" height="493" alt="Image">
				</div>
				<div class="popup__description">
					<div class="popup__head">
						<h3 class="popup__title">
						</h3>
						<p class="popup__subtitle">
						</p>
					</div>

					<div class="popup__about">

					</div>

					<div class="popup__specification specification">
						<ul class="specification__list">
							<li class="specification__item">
								<span class="specification__title">
								</span>
								<span class="specification__descr">
								</span>
							</li>
							<li class="specification__item">
								<span class="specification__title">
								</span>
								<span class="specification__descr">
								</span>
							</li>
							<li class="specification__item">
								<span class="specification__title">
								</span>
								<span class="specification__descr">
								</span>
							</li>
							<li class="specification__item">
								<span class="specification__title">
								</span>
								<span class="specification__text">
								</span>
							</li>
						</ul>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>