<link rel="stylesheet" href="@components/layout/popup/popup.scss">
<div data-fls-popup="popup" aria-hidden="true" class="popup">
	<div data-fls-popup-wrapper class="popup__wrapper">
		<div data-fls-popup-body class="popup__body">
			<button data-fls-popup-close type="button" class="popup__close"><svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path opacity="0.850056" d="M1.73333 1.48883L21.5469 21.0288" stroke="#979797" stroke-linecap="square" />
					<path opacity="0.850056" d="M21.2667 1.48883L1.45309 21.0288" stroke="#979797" stroke-linecap="square" /></svg></button>
			<div data-fls-popup-content class="popup__text">
				<!-- Контент -->
			</div>
		</div>
	</div>
</div>

<!-- Golden Champagne -->
<!-- <div data-popup-info hidden>
	<div data-popup-title>Golden Champagne</div>
	<div data-popup-subtitle>Суміш чорного та зеленого чаю з пелюстками волошки та ароматом полуниці «Золоте шампанське» </div>
	<div data-popup-descr>
		<p>
			Суміш чорного та зеленого чаю «Золоте шампанське» - цей чай створений, щоб перетворювати звичайні дні на маленькі свята.
		</p>
		<p>
			Поєднання насиченого чорного та ніжного зеленого чаю збагачене яскравим ароматом стиглої полуниці та легкими нотками «бризків шампанського». Пелюстки волошки надають напою святкової вишуканості.
		</p>
		<p>
			Ідеальний для піднесеного настрою та приємних зустрічей.
		</p>
	</div>
	<div data-popup-specs>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Країна походження чайного листа: </span>
			<span data-popup-specs-descr>Шрі-Ланка (острів Цейлон), Китай.</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Країна походження інших складових продукту: </span>
			<span data-popup-specs-descr>Україна.</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Розфасовка: </span>
			<span data-popup-specs-descr>40г (20 пакетиків з ярликом у конвертах (сашетах) по 2 г)</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Склад</span>
			<span data-popup-specs-descr>мед, сметана, борошно</span>
		</div>
	</div>
</div> -->

<!-- Strawberry Cocktail -->
<!-- <div data-popup-info hidden>
	<div data-popup-title>Strawberry Cocktail</div>
	<div data-popup-subtitle>Чай зелений з м’ятою та ароматом полуниці і лимону «Полуничний коктейль»</div>
	<div data-popup-descr>
		<p>
			Зелений чай «Полуничний коктейль» – свіжа й яскрава насолода.
		</p>
		<p>
			Ароматна полуниця поєднується з ніжним зеленим чаєм та освіжаючою м’ятою. Легкий, фруктово-ягідний смак створює настрій літа у будь-яку пору року.
		</p>
		<p>
			Ідеальний вибір для бадьорості й гарного настрою.
		</p>
	</div>
	<div data-popup-specs>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Країна походження чайного листа: </span>
			<span data-popup-specs-descr>Китай</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Країна походження інших складових продукту: </span>
			<span data-popup-specs-descr>Україна.</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Розфасовка: </span>
			<span data-popup-specs-descr>40г (20 пакетиків з ярликом у конвертах (сашетах) по 2 г)</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Склад: </span>
			<span data-popup-specs-descr>чай зелений китайський 82%, листя м’яти перцевої 8%, цедра апельсину, каркаде подрібнене, ароматизатор «Полуниця», ароматизатор «Лимон».</span>
		</div>
	</div>
</div> -->

<!-- Chamomile Provence -->
<!-- <div data-popup-info hidden>
	<div data-popup-title>Chamomile Provence</div>
	<div data-popup-subtitle>Чай трав'яний «Ромашковий прованс»</div>
	<div data-popup-descr>
		<p>
			Чай трав’яний «Ромашковий Прованс» – гармонія ніжності та спокою.
		</p>
		<p>
			Ромашка дбайливо заспокоює, допомагає зняти втому та наповнює тіло легкістю. Лаванда додає тонку квіткову ноту та витонченість французького Провансу.
		</p>
		<p>
			Цей напій стане вашим вечірнім ритуалом релаксу, даруючи м’яке відчуття затишку й умиротворення.
		</p>
	</div>
	<div data-popup-specs>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Країна походження інгредієнтів: </span>
			<span data-popup-specs-descr>Україна.</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Розфасовка: </span>
			<span data-popup-specs-descr>30г (20 пакетиків з ярликом у конвертах (сашетах) по 1,5 г)</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Склад: </span>
			<span data-popup-specs-descr>трава ромашки 90%, трава лаванди 10%.</span>
		</div>
	</div>
</div> -->

<!-- Lavender Touch -->
<!-- <div data-popup-info hidden>
	<div data-popup-title>Lavender Touch</div>
	<div data-popup-subtitle>Чай трав'яний «Лавандовий дотик»</div>
	<div data-popup-descr>
		<p>
			Чай трав’яний «Лавандовий дотик» немов лагідні обійми природи, що дарують рівновагу й внутрішній баланс.
		</p>
		<p>
			Ніжна лаванда дарує відчуття умиротворення, меліса й м’ята освіжають думки, а сушене яблуко додає природної солодкості.
		</p>
		<p>
			Лимонна трава й ехінацея збагачують смак тонкими нотами та підтримують природний імунітет.
		</p>
	</div>
	<div data-popup-specs>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Країна походження інгредієнтів: </span>
			<span data-popup-specs-descr>Україна.</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Розфасовка: </span>
			<span data-popup-specs-descr>30г (20 пакетиків з ярликом у конвертах (сашетах) по 1,5 г)</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Склад: </span>
			<span data-popup-specs-descr>трава лаванди 33,6%, трава меліси 25%, плоди яблука сушеного 12%, листя м‘яти перцевої 10%, лимонна трава, ехінацеї трава 9,7%.</span>
		</div>
	</div>
</div> -->

<!-- Herbal Jazz -->
<!-- <div data-popup-info hidden>
	<div data-popup-title>Herbal Jazz</div>
	<div data-popup-subtitle>Чай трав'яний «Трав'яний джаз»</div>
	<div data-popup-descr>
		<p>
			Чай трав’яний «Трав’яний джаз» – ритм природи у вашій чашці.
		</p>
		<p>
			Меліса ніжно заспокоює, м’ята освіжає, лимонник додає бадьорості, шипшина дарує легку фруктову кислинку, а чебрець підкреслює природний смак.
		</p>
		<p>
			Цей чай створений для гармонії та гарного самопочуття кожного дня.
		</p>
	</div>
	<div data-popup-specs>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Країна походження інгредієнтів: </span>
			<span data-popup-specs-descr>Україна.</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Розфасовка: </span>
			<span data-popup-specs-descr>30г (20 пакетиків з ярликом у конвертах (сашетах) по 1,5 г)</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Склад: </span>
			<span data-popup-specs-descr>трава меліси 43%, листя м‘яти перцевої 20%, трава лимонника 15%, плоди шипшини подрібнені 12%, чебрецю трава 10%.</span>
		</div>
	</div>
</div> -->

<!-- Moon Tango -->
<!-- <div data-popup-info hidden>
	<div data-popup-title>Moon Tango</div>
	<div data-popup-subtitle>Чай трав'яний «Танго місяця»</div>
	<div data-popup-descr>
		<p>
			Чай трав’яний «Танго місяця» – ніжний дует м’яти та ромашки.
		</p>
		<p>
			М’ята дарує свіжість і легкість, ромашка заспокоює та огортає теплом. Разом вони створюють напій, що допомагає розслабитись, зняти напругу та налаштуватись на спокійний сон.
		</p>
		<p>
			Ідеальний вечірній чай для затишку та гармонії.
		</p>
	</div>
	<div data-popup-specs>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Країна походження інгредієнтів: </span>
			<span data-popup-specs-descr>Україна.</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Розфасовка: </span>
			<span data-popup-specs-descr>30г (20 пакетиків з ярликом у конвертах (сашетах) по 1,5 г)</span>
		</div>
		<div data-popup-specs-item>
			<span data-popup-specs-title>Склад: </span>
			<span data-popup-specs-descr>листя м‘яти перцевої 50%, трава ромашки 50%.</span>
		</div>
	</div>
</div> -->