	<div data-fls-circlebtn class="circle-btn circle-btn--big">
	  <a href="#" class="circle-btn__link" aria-label="посилання наступна сторінка">
	    <div class="circle-btn__body">
	      <img data-img-ignore class="ibg-cn" src="@img/mini-packs/herbal-1.png" width="59" height="100" alt="Image">
	    </div>
	  </a>
	</div>

  
	<div data-fls-circlebtn class="circle-btn circle-btn--sm">
	  <a href="#" class="circle-btn__link" aria-label="посилання на магазин">
	    <div class="circle-btn__body">
	      <img data-img-ignore class="ibg-cn" src="@img/mini-packs/herbal-1.png" width="59" height="100" alt="Image">
	    </div>
	  </a>
	</div>