:root {
  --primary: #000;
  --white: #fff;
  --violet-dark: #42388e;
  --violet-light: #8271ce;
  --teal: #1ca099;
  --blue: #328ad3;
  --orange: #f3ba69;
  --pink: #f69dbc;

  --navy: #32657e;
  --navy-hover: #264963;

  --amber: #b87416;
  --amber-hover: #915b12;

  --royal-blue: #306abf;
  --royal-blue-hover: #24508f;

  --pine: #02583f;
  --pine-hover: #01392a;

  --tangerine: #f14908;
  --tangerine-hover: #b63606;

  --crimson: #e13e2d;
  --crimson-hover: #aa2e21;
}