
.slider {
  width: inherit;

  padding-top: 50px;

  @media (min-width:toEm($mobileSmall)) {
    padding-top: 100px;
  }
  @media (orientation: landscape) and (max-width: toEm(900.98)) and (max-height:toEm(480.98)) {
    padding-top: 20px;
    }

		// .slider__head
		&__head {
      margin-bottom: 45px;

      @media (orientation: landscape) and (max-width: toEm(900.98)) and (max-height:toEm(480.98)) {
        display: none;
      }

      @media (min-width:toEm($mobile)) {
        margin-bottom: 100px;
      }
		}
		// .slider__title-promo
		&__title-promo {
      text-align: center;
      @include adaptiveValue("font-size", 40, 32,0,1440.98,480.98);
      font-weight: 600;
      color: var(--white);
      margin-bottom: 20px;
      @media (max-width:toEm($mobileSmall)){
         font-size: 7vw !important; 
      }
		}

		// .slider__more-promo
		&__more-promo {
      margin-inline: auto;
		}


  //   border: 1px solid red;
  // .slider__title
  &__title {
    color: var(--white);
    font-family: "SweetMavkaScript", sans-serif;
    @include adaptiveValue("font-size", 80, 44, 0, 1920.98, 992.98);
    text-align: center;
    margin-bottom: 65px;
    line-height: 0.85;

    @media (orientation: landscape) and (max-width: toEm(900.98)) and (max-height:toEm(480.98)) {
      display: none;
    }

    @media (min-width:toEm($mobileXS)) {
      margin-bottom: 100px;
    }
  }

  // .slider__slider
  &__slider {
    // border: 1px solid #000;
    max-width: 1100px;
    margin-inline: auto;
    position: relative;

    @media (max-width: toEm(1550.98)) and (min-width: toEm(820.98)) {
      // width: 60vw;
      max-width: 870px;
    }
    
    // @media (orientation: landscape) and (min-width: toEm($mobile)) and (max-height:toEm(750.98)) {
    //   width: 60vw;
    // }

    @media (orientation: landscape) and (max-width: toEm(900.98)) and (max-height:toEm(480.98)) {
      width: 60vw;
    }

    // @media (orientation: landscape) and (max-width: toEm(900.98)) and (max-height:toEm(480.98)){
    //   scale: 0.6;
    // }
  }

  // .slider__wrapper
  &__wrapper {}

  // .slider__item
  &__item {}

  // .slider__buttons
  &__buttons {
    position: absolute;
    top: 30%;
    width: 100%;
    max-width: 400px;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    justify-content: space-between;
    pointer-events: none;

    @media (orientation: landscape) and (max-width: toEm(1000.98)) and (max-height:toEm(480.98)) {
      max-width: 250px;
    }
  }

  // .slider__button
  &__button {
    // position: absolute;
    // top: 30%;

    pointer-events: all;

    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.4);
    transition: background-color .3s ease;

    display: grid;
    place-items: center;

    @media (min-width:toEm(992.98)) {
      background-color: rgb(255, 255, 255, 0.15);
    }

    &.swiper-button-prev {
      svg {
        left: -1px;
      }
    }

    &.swiper-button-next {
      svg {
        right: -1px;
      }
    }

    svg {
      position: relative;

      path {
        opacity: 1;
        transition: stroke .3s ease;

        @media (min-width:toEm(992.98)) {
          opacity: 0.4;
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: rgb(255, 255, 255, 0.4);

        svg {
          path {
            opacity: 1;
          }
        }
      }
    }
  }
}

.item-slider {

  // .item-slider__item
  &__item {
    margin-inline: auto;
    max-width: 214px;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s ease;

    .swiper-slide-active & {
      pointer-events: all;
    }

    .swiper-slide-active &,
    .swiper-slide-prev &,
    .swiper-slide-next & {
      opacity: 1;
    }

    @media (orientation: landscape) and (max-width: toEm(1000.98)) and (max-height:toEm(480.98)) {
      scale: 0.6;
    }
  }

  // .item-slider__body
  &__body {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;

    @media (orientation: landscape) and (max-width: toEm(900.98)) and (max-height:toEm(480.98)) {
      margin-bottom: 0px;
    }
    
    @media (max-width: toEm(1550.98)) and (min-width: toEm(820.98)) {
       margin-bottom: 0px;
    }

    @media (max-width:toEm($mobileSmall)) {
      margin-bottom: 10px;
    }

    // @media (max-width:toEm($mobileXS)) {
    //   // margin-bottom: 30px;
    // }
  }

  // .item-slider__pack
  &__pack {
    display: block;
    margin-inline: auto;
    transition: transform .5s ease;
    aspect-ratio: 214 / 364;
    img {
      aspect-ratio: 214/364;
    }

    .swiper-slide-active & {
      transform: scale(1.2) translate(0%, -8%);
      .section-promo & {
        @media (max-width:toEm($mobileSmall)){
          transform: scale(1.1) translate(0%, -2%);
        }
      }
    }

    @media (max-width:toEm($mobileSmall)) {
      max-width: 200px;
    }

    @media (max-width:toEm($mobileXS)) {
      max-width: 160px;
    }

    // @media (orientation: landscape) and (min-width: toEm($mobile)) and (max-height:toEm(750.98)) {
    //   max-width: 170px;
    // }
    @media (max-width: toEm(1550.98)) and (min-width: toEm(820.98)) {
      max-width: 170px;
     }
  }

  // .item-slider__circle-btn
  &__circle-btn {
    position: relative;
    left: -35%;
    margin-top: -65%;
    opacity: 0;
    transition: opacity .45s ease;

    .swiper-slide-active & {
      opacity: 1;
    }

    @media (max-width:toEm($mobileXS)) {
      &.circle-btn--sm {
        left: -25%;
        max-width: 120px;
      }
    }
  }

  // .item-slider__more
  &__more {
    position: relative;
    z-index: 0;
    opacity: 0;
    transform: translate(0%, 50%);
    transition: opacity .4s ease, transform .4s ease .3s;

    .swiper-slide-active & {
      opacity: 1;
      transform: translate(0%, 0%);
      transition-delay: 0.3s;
    }

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      z-index: -1;
      width: 500px;
      height: 500px;
      aspect-ratio: 1;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%) scale(0.5);

      background-color: rgba(255, 255, 255, 0.3);
      box-shadow: inset 0 70px 60px 0 rgba(255, 255, 255, 0.4);

      opacity: 0;
      transition: opacity .4s ease, transform .4s ease .3s;

      .swiper-slide-active & {
        opacity: 1;
        transform: translate(-50%, -30%) scale(1);
        transition-delay: 0.3s;
      }
    }
  }

  // .item-slider__button
  &__button {
    margin-inline: auto;


  }
}
