<header data-fls-header class="header">
	<div class="header__container">
		<button type="button" data-fls-scrollto="#hero" class="header__logo" aria-label="на головну сторінку">
			<img class="ibg-cn" src="@img/icons/logo.svg" width="95" height="96" alt="лого MagicMoon">
		</button>
		<div class="header__menu menu">
			<button type="button" data-fls-menu class="menu__icon icon-menu" aria-label="відкрити мобільне меню">
				<span class="icon-menu__burger">
					<span></span>
				</span>
			</button>

			<nav  class="menu__nav nav-menu">
				<div class="nav-menu__main">
					<button type="button" class="nav-menu__btn link-btn" aria-label="відкрити підменю">
						<span>Чай в саше</span>
					</button>
				</div>
			</nav>
			
			<nav class="menu__body">
				<ul data-fls-dynamic=".nav-menu,992.98,1,min" class="nav-menu__list">
					<li class="nav-menu__item">
						<button type="button" data-fls-scrollto="#tea-sachets" class="nav-menu__link" aria-label="перейти до блоку"><span>Чай в саше</span></button>
					</li>
					<li class="nav-menu__item">
						<button type="button" data-fls-scrollto="#tea-sachets-herbal" class="nav-menu__link" aria-label="перейти до блоку"><span>Трав’яний чай в саше</span></button>
					</li>
					<li class="nav-menu__item">
						<button type="button" data-fls-scrollto="#tea-bags" class="nav-menu__link" aria-label="перейти до блоку"><span>Пакетований чай</span></button>
					</li>
					<li class="nav-menu__item">
						<button type="button" data-fls-scrollto="#tea-leaf" class="nav-menu__link" aria-label="перейти до блоку"><span>Листовий чай</span></button>
					</li>
					<li class="nav-menu__item">
						<button type="button" data-fls-scrollto="#tea-concentrated" class="nav-menu__link" aria-label="перейти до блоку"><span>Концентрований чай</span></button>
					</li>
				</ul>
				<ul class="menu__list">
					<li class="menu__item">
						<a href="promo.html" class="menu__link link-btn" aria-label="посилання на сторінку"><span>Гроші в пачці</span></a>
					</li>
					<li class="menu__item">
						<button type="button" data-fls-scrollto="#contacts" class="menu__link link-btn" aria-label="перейти до блоку"><span>Контакти</span></button>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
