<header data-fls-header class="header header--promo">
	<div class="header__container">
		<a href="index.html" class="header__logo" aria-label="на головну сторінку">
			<img class="ibg-cn" src="@img/icons/logo.svg" width="95" height="96" alt="лого MagicMoon">
		</a>
		<div class="header__menu menu">
			<button type="button" data-fls-menu class="menu__icon icon-menu" aria-label="відкрити мобільне меню">
				<span class="icon-menu__burger">
					<span></span>
				</span>
			</button>
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__item">
						<a href="index.html" class="menu__link link-btn" aria-label="посилання на сторінку"><span>Головна</span></a>
					</li>
					<li class="menu__item">
						<a href="promo.html" class="menu__link link-btn" aria-label="посилання на сторінку"><span>Гроші в пачці</span></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
