.section-0 {
  // background-color: var(--violet-dark);
}

.section-1 {
  // background-color: var(--violet-light);
}

.section-2 {
  // background-color: var(--teal);
}

.section-3 {
  // background-color: var(--blue);
}

.section-4 {
  // background-color: var(--orange);
}

.section-5 {
  // background-color: var(--pink);
}

.section-6 {
  // background-color: var(--violet-dark);
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
  // overflow-y: hidden ;
}

[class*="__content"] {
  height: 100%;
  overflow: hidden;
}

%flexCenter {
  display: flex;
  align-items: center;
  position: relative;
}

.section-0 {

  // .section-0__container
  &__container {
    @extend %flexCenter;
  }

  // .section-0__body
  &__body {
    position: relative;
    width: 100%;
    display: grid;
    align-items: center;
    @include adaptiveValue("max-width", 1700, 1200, 0, 1920, 1440.98);
    margin-inline: auto;

    @media (orientation: landscape) {
      grid-template-columns: 42% 1fr;
      gap: 9vw;
    }

    @media (orientation: portrait) and (min-width: toEm($mobileSmall)) {
      max-width: 60% !important;
    }

    @media (orientation: landscape) and (max-height: toEm(480.98)) {
      max-width: 80vw !important;
      padding: 30px 0;
    }

    @media (orientation: portrait) and (min-width: toEm($mobileSmall)) {
      padding: 100px 0 50px;
    }

    @media (max-width:toEm($mobileSmall)) and (min-width: toEm($mobileXS)) {
      padding: 50px 0 0;
    }
  }

  // .section-0__head
  &__head {
    position: relative;
    padding-inline: 15px;

    @media (min-width:toEm($mobileSmall)) {
      padding-inline: 0px;
    }
  }

  // .section-0__logo
  &__logo {
    margin-bottom: 40px;
    max-width: 55vw;
    // @include adaptiveValue("max-width", 383, 238);
    margin-inline: auto;

    @media (min-width:toEm($mobileSmall)) {
      max-width: 59%;
      margin-bottom: 48px;
    }

    @media (max-width:toEm($mobileXS)) {
      max-width: 50vw !important;
    }
  }

  // .section-0__title-wr
  &__title-wr {
    @media (max-width:toEm($mobileSmall)) {
      box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.4), inset 0px 0px 1.5px #fff;
      backdrop-filter: blur(5px);
      // background: rgba(0, 0, 0, 0.1); 
      border-radius: 30px;
      padding: 25px 21px;
      // position: absolute;
      // left: 50%;
      // width: calc(100% - 30px);
      // transform: translate(-50%,0);
      top: 100%;
      z-index: 2;
    }
  }

  // .section-0__title
  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 58, 34);
    color: var(--white);
    text-align: center;
    line-height: 1.2;
  }

  // .section-0__cta
  &__cta {

    // @media (orientation: portrait) and (min-width: toEm($mobileSmall)) {
    // max-width: 60%;
    // margin-inline: auto;
    // }
    @media (orientation: landscape) and (min-width: toEm($mobileSmall)) {
      position: relative;
      left: -10%;
    }

    margin-top: -160px;

    @media (min-width:toEm($mobileSmall)) {
      margin-top: 0px;
      position: relative;
    }
  }

  // .section-0__btn
  &__btn {
    position: absolute;
    top: 61%;
    left: 0;
    z-index: 5;

    @media (min-width:toEm($mobileSmall)) {
      top: 8%;
      z-index: 3;
    }

    &.circle-btn--big {
      @include adaptiveValue("max-width", 240, 130);
    }
  }

  // .section-0__picture
  &__picture {
    // @media (max-width:toEm($mobileSmall)){
    //  margin-top: -28px; 
    // }
  }
}




.slider {
  width: inherit;

  padding-top: 50px;

  @media (min-width:toEm($mobileSmall)) {
    padding-top: 100px;
  }

  //   border: 1px solid red;
  // .slider__title
  &__title {
    color: var(--white);
    font-family: "SweetMavkaScript", sans-serif;
    @include adaptiveValue("font-size", 80, 44, 0, 1920.98, 992.98);
    text-align: center;
    margin-bottom: 65px;
    line-height: 0.85;

    @media (orientation: landscape) and (max-width: toEm(900.98)) and (max-height:toEm(480.98)) {
      display: none;
    }

    @media (min-width:toEm($mobileXS)) {
      margin-bottom: 100px;
    }
  }

  // .slider__slider
  &__slider {
    // border: 1px solid #000;
    max-width: 1100px;
    margin-inline: auto;
    position: relative;

    @media (max-width: toEm(1550.98)) and (min-width: toEm(820.98)) {
      // width: 60vw;
      max-width: 870px;
    }
    
    // @media (orientation: landscape) and (min-width: toEm($mobile)) and (max-height:toEm(750.98)) {
    //   width: 60vw;
    // }

    @media (orientation: landscape) and (max-width: toEm(900.98)) and (max-height:toEm(480.98)) {
      width: 60vw;
    }

    // @media (orientation: landscape) and (max-width: toEm(900.98)) and (max-height:toEm(480.98)){
    //   scale: 0.6;
    // }
  }

  // .slider__wrapper
  &__wrapper {}

  // .slider__item
  &__item {}

  // .slider__buttons
  &__buttons {
    position: absolute;
    top: 30%;
    width: 100%;
    max-width: 400px;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    justify-content: space-between;
    pointer-events: none;

    @media (orientation: landscape) and (max-width: toEm(1000.98)) and (max-height:toEm(480.98)) {
      max-width: 250px;
    }
  }

  // .slider__button
  &__button {
    // position: absolute;
    // top: 30%;

    pointer-events: all;

    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.4);
    transition: background-color .3s ease;

    display: grid;
    place-items: center;

    @media (min-width:toEm(992.98)) {
      background-color: rgb(255, 255, 255, 0.15);
    }

    &.swiper-button-prev {
      svg {
        left: -1px;
      }
    }

    &.swiper-button-next {
      svg {
        right: -1px;
      }
    }

    svg {
      position: relative;

      path {
        opacity: 1;
        transition: stroke .3s ease;

        @media (min-width:toEm(992.98)) {
          opacity: 0.4;
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: rgb(255, 255, 255, 0.4);

        svg {
          path {
            opacity: 1;
          }
        }
      }
    }
  }
}

.item-slider {

  // .item-slider__item
  &__item {
    margin-inline: auto;
    max-width: 214px;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s ease;

    .swiper-slide-active & {
      pointer-events: all;
    }

    .swiper-slide-active &,
    .swiper-slide-prev &,
    .swiper-slide-next & {
      opacity: 1;
    }

    @media (orientation: landscape) and (max-width: toEm(1000.98)) and (max-height:toEm(480.98)) {
      scale: 0.6;
    }
  }

  // .item-slider__body
  &__body {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;

    @media (orientation: landscape) and (max-width: toEm(900.98)) and (max-height:toEm(480.98)) {
      margin-bottom: 0px;
    }

    @media (max-width:toEm($mobileSmall)) {
      margin-bottom: 10px;
    }

    @media (max-width:toEm($mobileXS)) {
      margin-bottom: 30px;
    }
  }

  // .item-slider__pack
  &__pack {
    display: block;
    margin-inline: auto;
    transition: transform .5s ease;

    img {
      aspect-ratio: 214/364
    }

    .swiper-slide-active & {
      transform: scale(1.2) translate(0%, -8%);
    }

    @media (max-width:toEm($mobileSmall)) {
      max-width: 200px;
    }

    @media (max-width:toEm($mobileXS)) {
      max-width: 160px;
    }

    // @media (orientation: landscape) and (min-width: toEm($mobile)) and (max-height:toEm(750.98)) {
    //   max-width: 170px;
    // }
    @media (max-width: toEm(1550.98)) and (min-width: toEm(820.98)) {
      max-width: 170px;
     }
  }

  // .item-slider__circle-btn
  &__circle-btn {
    position: relative;
    left: -35%;
    margin-top: -65%;
    opacity: 0;
    transition: opacity .45s ease;

    .swiper-slide-active & {
      opacity: 1;
    }

    @media (max-width:toEm($mobileXS)) {
      &.circle-btn--sm {
        left: -25%;
        max-width: 120px;
      }
    }
  }

  // .item-slider__more
  &__more {
    position: relative;
    z-index: 0;
    opacity: 0;
    transform: translate(0%, 50%);
    transition: opacity .4s ease, transform .4s ease .3s;

    .swiper-slide-active & {
      opacity: 1;
      transform: translate(0%, 0%);
      transition-delay: 0.3s;
    }

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      z-index: -1;
      width: 500px;
      height: 500px;
      aspect-ratio: 1;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%) scale(0.5);

      background-color: rgba(255, 255, 255, 0.3);
      box-shadow: inset 0 70px 60px 0 rgba(255, 255, 255, 0.4);

      opacity: 0;
      transition: opacity .4s ease, transform .4s ease .3s;

      .swiper-slide-active & {
        opacity: 1;
        transform: translate(-50%, -30%) scale(1);
        transition-delay: 0.3s;
      }
    }
  }

  // .item-slider__button
  &__button {
    margin-inline: auto;


  }
}


%bgImgAbsolute {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: 50%;

  img {
    opacity: 0;
    transition: opacity .45s ease .6s, transform .65s ease .6s;

    .--fullpage-active-section & {
      opacity: 1;
      transform: translate(0%, 0%);
      transition-delay: 0.5s;
    }
  }
}

.section-1 {

  // .section-1__container
  &__container {
    @extend %flexCenter;
  }

  // .section-1__slider
  &__slider {}

  // .section-1__bg
  &__bg {}

  // .section-1__img-1
  &__img-1 {
    @extend %bgImgAbsolute;
    left: 0%;
    transform: translate(-73%, -90%) rotate(15deg);
    @include adaptiveValue("width", 1172, 230);
    
    @media (min-width:toEm(820.98)) {
      transform: translate(-65%, -20%) rotate(0deg);
    }
    @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
      transform: translate(-60%, 50%) rotate(15deg);
    }

    img {
      transform: translate(-50%, 0%);

      // .--fullpage-active-section & {
      //   transform: translate(0%, 0%);
      // }
    }
  }

  // .section-1__img-2
  &__img-2 {
    @extend %bgImgAbsolute;
    right: 0%;
    transform: translate(60%, -120%);
    @include adaptiveValue("width", 947, 239);
    
    @media (min-width:toEm(820.98)) {
      transform: translate(60%, -50%);
    }
    @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
      transform: translate(55%, -130%);
    }

    img {
      transform: translate(50%, 0%);

      // .--fullpage-active-section & {
      //   transform: translate(0%, 0%);
      // }
    }
  }
}

  //  @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
        
  //   }


.section-2 {

  // .section-2__content
  &__content {}

  // .section-2__container
  &__container {
    @extend %flexCenter;
  }

  // .section-2__slider
  &__slider {}

  // .section-2__img-1
  &__img-1 {
    @extend %bgImgAbsolute;
    top: 50%;
    left: 0%;
    transform: translate(-65%, -110%) rotate(10deg);
    @include adaptiveValue("width", 549, 150);
    
    @media (min-width:toEm(820.98)) {
      transform: translate(-45%, -30%) rotate(0deg);
    }
    @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
      transform: translate(-50%, 60%) rotate(10deg);
    }

    img {
      transform: translate(-50%, 0%);
    }
  }

  // .section-2__img-2
  &__img-2 {
    @extend %bgImgAbsolute;
    top: 50%;
    right: 0%;
    transform: translate(30%, -300%);
    @include adaptiveValue("width", 224, 60);

    @media (min-width:toEm(820.98)) {
      transform: translate(30%, -130%);
    }
   

    img {
      transform: translate(50%, 0%);
    }
  }

  // .section-2__img-3
  &__img-3 {
    display: none;
    @extend %bgImgAbsolute;

    @media (min-width:toEm(820.98)) {
      display: block;
      top: 50%;
      right: 0%;
      transform: translate(35%, 10%) rotate(-40deg);
    }


    @include adaptiveValue("width", 528, 230);

    img {
      display: none;

      @media (min-width:toEm(820.98)) {
        display: block;
      }

      transform: translate(0%, 50%);
    }
  }
}


.section-3 {

  // .section-3__content
  &__content {}

  // .section-3__container
  &__container {
    @extend %flexCenter;
  }

  // .section-3__slider
  &__slider {}

  // .section-3__img-1
  &__img-1 {
    @extend %bgImgAbsolute;
    top: 50%;
    left: 0%;
    transform: translate(-44%, -100%);
    @include adaptiveValue("width", 380, 110);
    
    @media (min-width:toEm(820.98)) {
      transform: translate(-30%, -30%);
    }
    @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
      transform: translate(-30%, 80%);
    }
    img {
      transform: translate(-50%, 0%);
    }
  }

  // .section-3__img-2
  &__img-2 {
    @extend %bgImgAbsolute;
    top: 50%;
    right: 0%;
    transform: translate(39%, -160%);
    @include adaptiveValue("width", 403, 130);
    
    @media (min-width:toEm(820.98)) {
      transform: translate(30%, -100%);
    }
    @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
      transform: translate(39%, -210%);
    }
    img {
      transform: translate(50%, -50%);
    }
  }

  // .section-3__img-3
  &__img-3 {
    display: none;
    @extend %bgImgAbsolute;

    @media (min-width:toEm(820.98)) {
      display: block;
      top: 50%;
      right: 0%;
      transform: translate(-80%, 100%);
    }

    @include adaptiveValue("width", 197, 90);

    img {
      display: none;

      @media (min-width:toEm(820.98)) {
        display: block;
      }

      transform: translate(50%, 50%);
    }
  }
}


.section-4 {

  // .section-4__content
  &__content {}

  // .section-4__container
  &__container {
    @extend %flexCenter;
  }

  // .section-4__slider
  &__slider {}

  // .section-4__img-1
  &__img-1 {
    @extend %bgImgAbsolute;
    left: 0%;
    transform: translate(-63%, -90%) rotate(15deg);
    @include adaptiveValue("width", 682, 200);
    
    @media (min-width:toEm(820.98)) {
      transform: translate(-58%, -20%) rotate(0deg);
    }
    @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
      transform: translate(-50%, 90%) rotate(15deg);
    }
    img {
      transform: translate(-50%, 0%);
    }
  }

  // .section-4__img-2
  &__img-2 {
    @extend %bgImgAbsolute;
    right: 0%;
    transform: translate(65%, -105%) rotate(26deg);
    @include adaptiveValue("width", 708, 200);
    
    @media (min-width:toEm(820.98)) {
      transform: translate(55%, -50%) rotate(26deg);
    }
    @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
      transform: translate(55%, -150%) rotate(26deg);
    }

    img {
      transform: translate(50%, 0%);
    }
  }
}


.section-5 {

  // .section-5__content
  &__content {}

  // .section-5__container
  &__container {
     @extend %flexCenter;
  }

  // .section-5__slider
  &__slider {}

  // .section-5__img-1
  &__img-1 {
    @extend %bgImgAbsolute;
    left: 0%;
    transform: translate(-40%, -210%);
    
    @include adaptiveValue("width", 200, 100);
    
    @media (min-width:toEm(820.98)) {
      transform: translate(20%, -150%);
    }
    @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
      transform: translate(-40%, -250%);
    }

    img {
      transform: translate(-50%, 0%);
    }
  }

  // .section-5__img-2
  &__img-2 {
    @extend %bgImgAbsolute;
    z-index: 1;
    left: 0%;
    transform: translate(-50%, 150%);
    
    @include adaptiveValue("width", 310, 150);
    
    @media (min-width:toEm(820.98)) {
      z-index: -1;
      transform: translate(-20%, 30%);
    }

    img {
      transform: translate(-50%, 50%);
    }
  }

  // .section-5__img-3
  &__img-3 {
    @extend %bgImgAbsolute;
    right: 0%;
    transform: translate(45%, -180%);
    @include adaptiveValue("width", 211, 90);
    
    @media (min-width:toEm(820.98)) {
      transform: translate(40%, -150%);
    }
    @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
      transform: translate(45%, -250%);
    }
    img {
      transform: translate(50%, -30%);
    }
  }

  // .section-5__img-4
  &__img-4 {
    @extend %bgImgAbsolute;
    z-index: 1;
    right: 0%;
    transform: translate(40%, 330%);

    @include adaptiveValue("width", 181, 100);
    
    @media (min-width:toEm(820.98)) {
      z-index: -1;
      transform: translate(-55%, 120%);
    }

    img {
      transform: translate(50%, 30%);
    }
  }
}

%title {
  @include adaptiveValue("font-size", 50, 32);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}


.section-6 {
		// .section-6__container
		&__container {
		}

		// .section-6__body
		&__body {
      color: var(--white);
      line-height: 1.2;
      max-width: 1050px;
      margin-inline: auto;
      @include adaptiveValue("padding-top", 150, 110);
      @include adaptiveValue("padding-bottom", 80, 70);
		}

		// .section-6__title
		&__title {
      @extend %title;
      @include adaptiveValue("margin-bottom", 50, 40);
		}
    
		// .section-6__cards
		&__cards {
      display: grid;
      gap: 30px;
      @include adaptiveValue("margin-bottom", 80, 70);
      @media (min-width:toEm(750.98)){
        grid-template-columns: 1fr 1fr;
      }
    }
    
		// .section-6__card
		&__card {
      border-radius: 30px;
      padding: 26px 30px;
      border: 3px solid transparent;
      @media (min-width:toEm($mobileSmall)){
         padding: 34px 40px; 
      }
      &:nth-child(1) {
        border-color: rgba(149,161,214,0.4);
        box-shadow: 0 10px 20px 0 rgba(87, 106, 191, 0.6);
        background: linear-gradient(135deg, #576abf 0%, #4b5eb0 100%);
      }
      &:nth-child(2) {
        border-color: rgba(219,158,181,0.4);
        box-shadow: 0 10px 20px 0 rgba(200, 101, 139, 0.6);
        background: linear-gradient(135deg, #c8658b 0%, #b3567a 100%);
      }
    }
    
		// .section-6__card-title
		&__card-title {
      margin-bottom: 20px;
      @include adaptiveValue("font-size", 34, 26);
      font-weight: 600;
		}
    
		// .section-6__card-txt
		&__card-txt {
      @include adaptiveValue("font-size", 24, 16);
      font-weight: 500;
    }
    
		// .section-6__subtitle
		&__subtitle {
      @extend %title;
      @include adaptiveValue("margin-bottom", 50, 20);
		}

		// .section-6__list
		&__list {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
      @include adaptiveValue("gap", 50, 30);
      max-width: 850px;
      margin-inline: auto;
    }
    
		// .section-6__item
		&__item {
      display: flex;
      gap: 10px;

      font-weight: 600;
      font-size: 20px;
      &::before {
        content:'';
        flex: 0 0 auto;
        @include adaptiveValue("width", 19, 16);
        @include adaptiveValue("height", 19, 16);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #FFD659;
        margin-top: 3px;
      }
		}

		// .section-6__footer
		&__footer {
		}
}

.footer-section-6 {
  position: relative;
  @include adaptiveValue("margin-top", 80, 70);
  @include adaptiveValue("padding-top", 80, 70);


  &::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 15.87%, #fff 50%, rgba(255, 255, 255, 0.3) 100%);
  }
		// .footer-section-6__body
		&__body {
      max-width: 850px;
      margin-inline: auto;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 50px;
		}
		// .footer-section-6__social
		&__social {
      .footer-section-6__title {
        margin-bottom: 14px;
      }
		}

		// .footer-section-6__title
		&__title {
      font-weight: 600;
      font-size: 20px;
		}

		// .footer-section-6__list
		&__list {
      display: flex;
      align-items: center;
      gap: 15px;
		}

		// .footer-section-6__item
		&__item {
		}

		// .footer-section-6__link
		&__link {
		}

		// .footer-section-6__contacts
		&__contacts {
       .footer-section-6__title {
        margin-bottom: 19px;
      }
		}

		// .footer-section-6__address
		&__address {
		}

		// .footer-section-6__phone
		&__phone {
      font-weight: 600;
      font-size: 8vw;
      @media (min-width: toEm(380.98)){
        font-size: 34px;
      }
		}
}
