<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main data-fls-fullpage class="page page--home">
	<div class="bg-main">
		<picture>
			<source srcset="@img/bg/main-bg-pc.png" media="(min-width: 30.062em)" type="image/webp">
			<source srcset="@img/bg/main-bg-mb.png" type="image/webp">
			<img class="ibg-cv" fetchpriority="high" src="@img/bg/main-bg-pc.png" width="1920" height="900" alt="розмитий фон">
		</picture>
	</div>
	<section data-fls-fullpage-section class="section section-0">
		<div class="section-0__container">
			<div class="section-0__body">
				<div class="section-0__head">
					<div class="section-0__logo">
						<img fetchpriority="high" class="ibg-cn" src="@img/icons/logo.svg" width="383" height="383" alt="Image">
					</div>
					<div class="section-0__title-wr">
						<h1 class="section-0__title">Магічний світ чаю</h1>
					</div>
				</div>
				<div class="section-0__cta">
					<div data-fls-circlebtn class="section-0__btn circle-btn circle-btn--big">
						<a href="#" class="circle-btn__link" aria-label="посилання наступна сторінка">
							<div class="circle-btn__body">
								<img fetchpriority="high" class="ibg-cn" src="@img/mini-packs/herbal-1.png" width="59" height="100" alt="Image">
							</div>
						</a>
					</div>
					<div class="section-0__picture">
						<picture>
							<source srcset="@img/hero/moon-tea-pc.png" media="(min-width: 30.062em)" type="image/webp">
							<source srcset="@img/hero/moon-tea-mb.png" type="image/webp">
							<img class="ibg-cn" fetchpriority="high" src="@img/hero/moon-tea-pc.png" width="1920" height="900" alt="розмитий фон">
						</picture>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section class="section section-1" style="visibility: hidden;">


	</section>
	<section data-fls-fullpage-section class="section section-2" style="visibility: hidden;">

	</section>
	<section data-fls-fullpage-section class="section section-3" style="visibility: hidden;">

	</section>
	<section data-fls-fullpage-section class="section section-4" style="visibility: hidden;">

	</section>
	<section data-fls-fullpage-section class="section section-5" style="visibility: hidden;">

	</section>
	<section data-fls-fullpage-section class="section section-6" style="visibility: hidden;">

	</section>
</main>