<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main data-fls-fullpage class="page page--home">
	<div class="bg-main">
		<picture>
			<source srcset="@img/bg/main-bg-pc.png" media="(min-width: 30.062em)" type="image/webp">
			<source srcset="@img/bg/main-bg-mb.png" type="image/webp">
			<img class="ibg-cv" fetchpriority="high" src="@img/bg/main-bg-pc.png" width="1920" height="900" alt="розмитий фон">
		</picture>
	</div>
	<section data-fls-fullpage-section class="section section-0">
		<div class="section-0__container">
			<div class="section-0__body">
				<div class="section-0__head">
					<div class="section-0__logo">
						<img fetchpriority="high" class="ibg-cn" src="@img/icons/logo.svg" width="383" height="383" alt="Image">
					</div>
					<div class="section-0__title-wr">
						<h1 class="section-0__title">Магічний світ чаю</h1>
					</div>
				</div>
				<div class="section-0__cta">
					<div data-fls-circlebtn class="section-0__btn circle-btn circle-btn--big">
						<a href="#" class="circle-btn__link" aria-label="посилання наступна сторінка">
							<div class="circle-btn__body">
								<img fetchpriority="high" class="ibg-cn" src="@img/mini-packs/herbal-1.png" width="59" height="100" alt="Image">
							</div>
						</a>
					</div>
					<div class="section-0__picture">
						<picture>
							<source srcset="@img/hero/moon-tea-pc.png" media="(min-width: 30.062em)" type="image/webp">
							<source srcset="@img/hero/moon-tea-mb.png" type="image/webp">
							<img class="ibg-cn" fetchpriority="high" src="@img/hero/moon-tea-pc.png" width="1920" height="900" alt="розмитий фон">
						</picture>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section class="section section-1" style="visibility: hidden;">
		<div class="section-1__content">
			<div class="section-1__container">
				<div class="section-1__slider slider">
					<h2 class="slider__title">Чай в саше</h2>
					<div data-fls-slider data-slider="tea-bags" class="slider__slider swiper">
						<ul class="slider__wrapper swiper-wrapper">
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/herbal-1.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/herbal-1.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-a" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/herbal-2.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/herbal-2.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-a" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/herbal-3.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/herbal-3.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-a" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
						</ul>
						<div class="slider__buttons">
							<button type="button" class="slider__button swiper-button-prev">
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M23 14L17 20L23 26" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</button>
							<button type="button" class="slider__button swiper-button-next">
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17 26L23 20L17 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section class="section section-2" style="visibility: hidden;">
		<div class="section-2__content">
			<div class="section-2__container">
				<div class="section-2__slider slider">
					<h2 class="slider__title">Трав’яний чай в саше</h2>
					<div data-fls-slider data-slider="tea-herbal" class="slider__slider swiper">
						<ul class="slider__wrapper swiper-wrapper">
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/herbal-sachets-1.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/herbal-sachets-1.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-b" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/herbal-sachets-2.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/herbal-sachets-2.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-b" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/herbal-sachets-3.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/herbal-sachets-3.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-b" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/herbal-sachets-4.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/herbal-sachets-4.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-b" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
						</ul>
						<div class="slider__buttons">
							<button type="button" class="slider__button swiper-button-prev">
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M23 14L17 20L23 26" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</button>
							<button type="button" class="slider__button swiper-button-next">
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17 26L23 20L17 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section class="section section-3" style="visibility: hidden;">
		<div class="section-3__content">
			<div class="section-3__container">
				<div class="section-3__slider slider">
					<h2 class="slider__title">Пакетований чай</h2>
					<div data-fls-slider data-slider="tea-herbal" class="slider__slider swiper">
						<ul class="slider__wrapper swiper-wrapper">
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/bags-1.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/bags-1.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-c" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/bags-2.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/bags-2.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-c" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/bags-3.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/bags-3.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-c" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/bags-4.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/bags-4.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-c" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/bags-5.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/bags-5.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-c" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
						</ul>
						<div class="slider__buttons">
							<button type="button" class="slider__button swiper-button-prev">
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M23 14L17 20L23 26" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</button>
							<button type="button" class="slider__button swiper-button-next">
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17 26L23 20L17 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section class="section section-4" style="visibility: hidden;">
		<div class="section-4__content">
			<div class="section-4__container">
				<div class="section-4__slider slider">
					<h2 class="slider__title">Листовий чай</h2>
					<div data-fls-slider data-slider="tea-bags" class="slider__slider swiper">
						<ul class="slider__wrapper swiper-wrapper">
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/leaf-1.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/leaf-1.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-d" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/leaf-2.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/leaf-2.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-d" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/leaf-3.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/leaf-3.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-d" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
						</ul>
						<div class="slider__buttons">
							<button type="button" class="slider__button swiper-button-prev">
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M23 14L17 20L23 26" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</button>
							<button type="button" class="slider__button swiper-button-next">
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17 26L23 20L17 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section class="section section-5" style="visibility: hidden;">
		<div class="section-3__content">
			<div class="section-3__container">
				<div class="section-3__slider slider">
					<h2 class="slider__title">Концентрований чай</h2>
					<div data-fls-slider data-slider="tea-herbal" class="slider__slider swiper">
						<ul class="slider__wrapper swiper-wrapper">
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/concentrated-1.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/concentrated-1.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-e" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/concentrated-2.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/concentrated-2.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-e" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/concentrated-3.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/concentrated-3.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-e" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/concentrated-4.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/concentrated-4.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-e" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
							<li class="slider__item item-slider swiper-slide">
								<div class="item-slider__item">
									<div class="item-slider__body">
										<a href="#" class="item-slider__pack" aria-label="посилання на магазин">
											<img loading="lazy" class="ibg-cn" src="@img/packs/concentrated-5.png" width="214" height="316" alt="чай">
										</a>
										<div data-fls-circlebtn class="item-slider__circle-btn circle-btn circle-btn--sm">
											<a href="#" class="circle-btn__link" aria-label="посилання на магазин">
												<div class="circle-btn__body">
													<img loading="lazy" class="ibg-cn" src="@img/mini-packs/concentrated-5.png" width="59" height="100" alt="Image">
												</div>
											</a>
										</div>
									</div>
									<div class="item-slider__more">
										<button data-fls-mainbutton type="button" class="item-slider__button btn btn--clr-e" aria-label="відкрити модальне вікно з інформацією про чай">
											<span>Детальніше</span>
										</button>
									</div>
								</div>
							</li>
						</ul>
						<div class="slider__buttons">
							<button type="button" class="slider__button swiper-button-prev">
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M23 14L17 20L23 26" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</button>
							<button type="button" class="slider__button swiper-button-next">
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17 26L23 20L17 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section class="section section-6" style="visibility: hidden;">

	</section>
</main>