<section id="contacts" data-fls-footersection data-fls-fullpage-section class="section section-6" style="visibility: hidden;">
		<div class="section-6__container">
			<div class="section-6__body">
				<h2 class="section-6__title">
					Ласкаво просимо до "Magic Moon" – світу магії в кожному ковтку чаю
				</h2>
				<ul class="section-6__cards">
					<li class="section-6__card">
						<div class="section-6__card-title">
							<p>
								Наша місія
							</p>
						</div>
						<div class="section-6__card-txt">
							<p>
								Створення неперевершених смакових вражень, де смак, аромат і магія об'єднуються в гармонійному танці
							</p>
						</div>
					</li>
					<li class="section-6__card">
						<div class="section-6__card-title">
							<p>
								Наші цінності
							</p>
						</div>
						<div class="section-6__card-txt">
							<p>
								Дбайливе відношення до кожної складової чаю. Використання тільки найкращих натуральних інгредієнтів для найвищого задоволення наших клієнтів
							</p>
						</div>
					</li>
				</ul>
				<div class="section-6__subtitle">
					<p>
						Сьогодні "Magic Moon" – це:
					</p>
				</div>
				<ul class="section-6__list">
					<li class="section-6__item">
						<p>
							Запрошення в незабутню подорож у світ смакових відкриттів
						</p>
					</li>
					<li class="section-6__item">
						<p>
							Відбірна сировина від сертифікованих фермерів Rainforest Alliance
						</p>
					</li>
					<li class="section-6__item">
						<p>
							Виробництво на сучасній фабриці за стандартами ЄС
						</p>
					</li>
					<li class="section-6__item">
						<p>
							Унікальні купажі, що поєднують смаки з усього світу
						</p>
					</li>
					<li class="section-6__item">
						<p>
							Суворий контроль якості на кожному етапі виробництва
						</p>
					</li>
				</ul>
				<div class="section-6__footer footer-section-6">
					<div class="footer-section-6__body">
						<div class="footer-section-6__social">
							<p class="footer-section-6__title">Соцмережі:</p>
							<ul class="footer-section-6__list">
								<li class="footer-section-6__item">
									<a href="#" class="footer-section-6__link" aria-label="посилання на соціальні мережі">
										<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="25" cy="25" r="25" fill="white" />
											<rect class="hover" x="12" y="12" width="26" height="26" rx="8" fill="black" />
											<circle cx="25" cy="25.0003" r="4.79032" stroke="white" stroke-width="3" />
											<circle cx="32.129" cy="17.0319" r="1.5" fill="white" stroke="white" stroke-width="0.354839" />
										</svg>
									</a>
								</li>
								<li class="footer-section-6__item">
									<a href="#" class="footer-section-6__link" aria-label="посилання на соціальні мережі">
										<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M25 50C11.1786 50 0 38.8214 0 25C0 11.1786 11.1786 0 25 0C38.8214 0 50 11.1786 50 25C50 38.7857 38.7857 50 25 50Z" fill="white" />
											<path class="hover"
												d="M24.8712 16.001C24.9447 16.001 33.4573 16.0032 35.5861 16.5742C36.7667 16.8903 37.6948 17.8183 38.0109 18.999C38.5796 21.1279 38.5841 25.5627 38.5841 25.6006C38.5841 25.6006 38.5843 30.0639 38.0109 32.2021C37.6949 33.3829 36.7667 34.3109 35.5861 34.627C33.4573 35.198 24.9447 35.2012 24.8712 35.2012C24.8712 35.2012 16.2935 35.2004 14.1554 34.627C12.9747 34.3109 12.0467 33.3828 11.7306 32.2021C11.1572 30.0639 11.1573 25.6006 11.1573 25.6006C11.1574 25.5627 11.1596 21.1279 11.7306 18.999C12.0467 17.8183 12.9747 16.8903 14.1554 16.5742C16.2935 16.0008 24.8712 16.001 24.8712 16.001ZM22.1251 29.7148L29.2511 25.6006L22.1251 21.4873V29.7148Z"
												fill="black" />
										</svg>
									</a>
								</li>
								<li class="footer-section-6__item">
									<a href="#" class="footer-section-6__link" aria-label="посилання на соціальні мережі">
										<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M25 50C11.1786 50 0 38.8214 0 25C0 11.1786 11.1786 0 25 0C38.8214 0 50 11.1786 50 25C50 38.7857 38.7857 50 25 50Z" fill="white" />
											<path class="hover" d="M28 27.825H31.5714L33 21.625H28V18.525C28 16.9285 28 15.425 30.8571 15.425H33V10.217C32.5343 10.1504 30.7757 10 28.9186 10C25.04 10 22.2857 12.5683 22.2857 17.285V21.625H18V27.825H22.2857V41H28V27.825Z" fill="black" />
										</svg>
									</a>
								</li>
							</ul>
						</div>
						<div class="footer-section-6__contacts">
							<p class="footer-section-6__title">Телефон гарячої лініі:</p>
							<address class="footer-section-6__address">
								<a href="tel:+380674027635" class="footer-section-6__phone" aria-label="телефон гарячої лінії">+38 (067) 402 76 35 </a>
							</address>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>