 <head>
 	<if condition="'[[preloader.enable]]' === 'true'">
 		<include src="@components/effects/preloader/preloader.html" locals='{"once":"[[preloader.once]]"}'></include>
 	</if>
 	<meta charset="UTF-8" />
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<include src="@components/layout/head/fonts-preload.html"></include>
 	<link rel="stylesheet" href="@styles/fonts/fonts.css">
 	<link rel="stylesheet" href="@styles/fonts/iconfont.css">
 	<link rel="stylesheet" href="@styles/style.scss">
 	<link rel="shortcut icon" href="@img/favicon.ico">
 	<link rel="icon" type="image/png" sizes="32x32" href="@img/favicons/favicon-32x32.png">
 	<link rel="icon" type="image/png" sizes="16x16" href="@img/favicons/favicon-16x16.png">
 	<link rel="apple-touch-icon" sizes="180x180" href="@img/favicons/apple-touch-icon.png">
 	<link rel="icon" type="image/png" sizes="192x192" href="@img/favicons/android-chrome-192x192.png">
 	<link rel="icon" type="image/png" sizes="512x512" href="@img/favicons/android-chrome-512x512.png">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="@img/favicons/mstile-144x144.png">

 	<if condition="'[[keywords]]' !== ''">
 		<meta name="keywords" content="[[keywords]]">
 	</if>
 	<if condition="'[[description]]' !== ''">
 		<meta name="description" content="[[description]]">
 	</if>
 	<title>[[title]]</title>
 </head>